:root {
    --off-black: #262626;
    --primary-green: #e8e3df;
    --black: black;
    --white: white;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1680px;
    --breakpoint-4xl: 1920px;
}
