.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: var(--spacing-24);
    padding-left: var(--spacing-24);

    @media (--medium) {
        z-index: 100;
        padding-top: var(--spacing-96);
    }

    @media (--large) {
        padding-right: var(--spacing-64);
        padding-left: var(--spacing-64);
    }
}

.Quote {
    text-transform: uppercase;
    color: var(--white);
}

.Main {
    display: block;
}

.SubQuote {
    display: block;
    text-transform: uppercase;
    font-size: var(--font-large);
    font-weight: 300;
    color: var(--white);
    margin-top: var(--spacing-16);
}

.Span {
    display: inline-block;
}
