.Section.withTitle {
    margin-top: var(--spacing-48);
    margin-bottom: var(--spacing-48);

    &:first-of-type {
        margin-top: var(--spacing-32);
    }

    .withTitle & {
        margin-top: var(--spacing-32);
        margin-bottom: var(--spacing-32);
    }
}

.Title2 {
    font-size: var(--font-small);
    margin-bottom: var(--spacing-8);
}

.Title3 {
    font-size: var(--font-xsmall);
    margin-bottom: var(--spacing-8);
}

.Title4 {
    font-size: var(--font-xxsmall);
    margin-bottom: var(--spacing-8);
}

.Code {
    padding: var(--spacing-12);
    background-color: #f1f3f4;
    overflow-x: scroll;
}
