.Title {
    font-size: var(--font-large);
    margin-bottom: var(--spacing-16);
    text-transform: capitalize;
}

.Container {
    margin-top: var(--spacing-84);
    padding-top: var(--spacing-32);
    padding-left: var(--spacing-16);
    padding-right: var(--spacing-16);
    padding-bottom: var(--spacing-32);

    @media (--large) {
        padding-left: var(--spacing-64);
        padding-right: var(--spacing-64);
        margin-top: var(--spacing-128);
    }

    @media (--xlarge) {
        margin-top: var(--spacing-128);
    }

    @media (--4xl) {
        margin-top: var(--spacing-240);
    }
}
