html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
	font-family: 'Stolzl';
	src: url('../../public/Stolzl-Book.woff2') format('woff2'),
		url('../../public/Stolzl-Book.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stolzl';
	src: url('../../public/Stolzl-Regular.woff2') format('woff2'),
		url('../../public/Stolzl-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stolzl';
	src: url('../../public/Stolzl-Medium.woff2') format('woff2'),
		url('../../public/Stolzl-Medium.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.go_down,
.go_in {
	display: inline-block;
	line-height: 1;
	overflow: hidden;
}

html {
	--width-honest: '0%';
	--width-easy: '0%';
}

body {
	background-color: #262626;
	color: #fff;
	font-family: 'Stolzl';
	font-weight: 300;
	/* Hide scrollbar */
	-ms-overflow-style: none; /* IE */
	scrollbar-width: none; /* Firefox */
	scroll-behavior: smooth;
	overflow: hidden;
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge and Opera */
}

h1,
h2,
h3,
h4 {
	color: white;
	font-family: 'Stolzl';
	font-weight: 700;
}

a,
a:hover,
a:focus {
	color: inherit;
}

h3 {
	font-size: 1.2rem;
}

p {
	font-size: 1.15rem;
}

textarea {
	resize: none;
}

/* Source https://codepen.io/nzbin */

.loading__dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 0 0.5rem 2rem;
}

.dots {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #46b38a;
	color: #46b38a;
	box-shadow: 9999px 0 0 0 #46b38a;
	animation: dotFalling 1s infinite linear;
	animation-delay: 0.1s;
}

.dots::before,
.dots::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dots::before {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #46b38a;
	color: #46b38a;
	animation: dotFallingBefore 1s infinite linear;
	animation-delay: 0s;
}

.dots::after {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #46b38a;
	color: #46b38a;
	animation: dotFallingAfter 1s infinite linear;
	animation-delay: 0.2s;
}

@keyframes dotFalling {
	0% {
		box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		box-shadow: 9999px 0 0 0 #46b38a;
	}
	100% {
		box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
	}
}

@keyframes dotFallingBefore {
	0% {
		box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		box-shadow: 9984px 0 0 0 #46b38a;
	}
	100% {
		box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
	}
}

@keyframes dotFallingAfter {
	0% {
		box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
	}
	25%,
	50%,
	75% {
		box-shadow: 10014px 0 0 0 #46b38a;
	}
	100% {
		box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		max-width: 45vw;
	}

	h3 {
		font-size: 1.625vw;
	}

	p {
		font-size: 1.15vw;
	}
}

.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.container-fluid {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media (min-width: 992px) {
	.container {
		max-width: none;
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.container-fluid {
		padding-top: 4rem;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media (min-width: 768px) {
	.container.w_limited {
		max-width: 70vw;
		padding-left: 0;
		padding-right: 0;
	}
}

.highlight {
	background: linear-gradient(
		180deg,
		rgba(70, 179, 138, 1) 0%,
		rgba(70, 179, 138, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 0% 2px;
	display: inline;
	background-position: left bottom;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #262626;
	overflow: hidden;
	z-index: 10;
	opacity: 1;
	will-change: transform;
}

.loading h4 {
	font-size: 3rem;
	color: #fff;
	opacity: 0;
}

@media (min-width: 768px) {
	.loading h4 {
		font-size: 6vw;
	}
}

.loading h4 span.th1 {
	color: #262626;
}

.loading h4 span.th1 {
	background: linear-gradient(
		180deg,
		rgba(70, 179, 138, 1) 0%,
		rgba(70, 179, 138, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 0% 100%;
}

.reveal_left {
	background: linear-gradient(
		180deg,
		rgba(70, 179, 138, 1) 0%,
		rgba(70, 179, 138, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: 0% 100%;
}

#mastheader {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
}

@media (min-width: 768px) {
	.logo__container {
		padding-top: 3rem;
	}
}

.logo {
	opacity: 0;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}

.logo:hover {
	opacity: 0.8 !important;
	cursor: pointer;
}

.logo svg {
	width: 112px;
	height: auto;
	fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 2;
}

.rect {
	fill: rgb(70, 179, 138) !important;
}

@media (min-width: 768px) {
	.logo svg {
		width: 10vw;
	}
}

.logo svg path,
.logo svg rect {
	fill: #fff;
}

.logo svg path.logoicon {
	fill: #46b38a;
}

.btn {
	border: 1px solid #f9f9f9;
	color: #fff;
	background: transparent;
	border-radius: 0;
}

.btn:hover,
.btn.active,
.btn:focus {
	background: #46b38a;
	border-color: #46b38a;
	color: #fff;
}

.btn-small {
	padding: 0.2rem 0.5rem;
	font-size: 0.8rem;
}

.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.outline {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
}

#hero div {
	z-index: 1;
}

#hero .quote {
	font-family: 'Stolzl';
	text-transform: uppercase;
	width: 100%;
	font-size: 2.5rem;
	color: white;
	line-height: 0.5;
	overflow: hidden;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	#hero .quote {
		font-size: 4vw;
	}
}

#hero .quote .text_1,
#hero .quote .text_2 {
	line-height: 1;
	overflow: hidden;
	display: inline-block;
	margin-right: 0.25em;
}

#hero p {
	color: #f9f9f9;
}

#hero .quote_subline p {
	font-size: 1.5rem;
	font-family: 'Stolzl';
}

@media (min-width: 768px) {
	#hero .quote_subline p {
		font-size: 2.75vw;
	}
}

.introtext {
	visibility: hidden;
}

.introtext {
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	visibility: hidden;
}

.header_headline {
	padding: 4rem 0 2rem 0;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.highlight--honest {
	position: relative;
	display: inline-block;
	padding-bottom: 1.5rem;
}

.highlight--honest::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #46b38a;
}

.highlight--easy {
	position: relative;
	display: inline-block;
	padding-bottom: 1.5rem;
}

.highlight--easy::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #46b38a;
}

@media (min-width: 768px) {
	.highlight--honest::after {
		width: var(--width-honest);
	}

	.highlight--easy::after {
		width: var(--width-easy);
	}
}

.fx-logo {
	width: 70%;
	height: auto;
}

@media (min-width: 768px) {
	.about_honest,
	.about_easy {
		padding-bottom: 0;
	}
}

@media (min-width: 992px) {
	.header_headline {
		padding: 5.5vw 0 0 0;
	}
}

.float {
	animation-name: float;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes float {
	from {
		transform: translate3d(0, 0px, 0);
	}
	65% {
		transform: translate3d(0, 15px, 0);
	}
	to {
		transform: translate3d(0, -0px, 0);
	}
}

.page-break {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5rem;
	width: 90vw;
}

.page-break__link {
	text-decoration: none;
}

.page-break__image {
	padding-top: 3rem;
}

.page-break__link:hover,
.page-break__link:focus {
	color: #46b38a;
}

.page-break__title {
	font-size: 1.5rem;
}

.page-break__image {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-break__video {
	width: 100%;
}

.page-break__video-wrapper {
	display: none;
}

@media (min-width: 768px) {
	.page-break__video-wrapper {
		display: block;
		position: relative;
		height: 0;
		padding-bottom: 100%;
	}
}

.icon-video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

@media (min-width: 768px) {
	.page-break {
		width: 75vw;
		flex-direction: row;
		padding-left: 0;
		padding-right: 0;
		padding-top: 5rem;
	}

	.page-break__text {
		width: 55%;
	}

	.page-break__video,
	.page-break__image {
		width: 45%;
	}
	.page-break__image {
		padding-top: 0;
	}
}

@media (min-width: 768px) and (orientation: landscape) {
	.page-break__image {
		height: 600px;
	}
}

@media (min-width: 1200px) {
	.page-break__title {
		font-size: 2rem;
	}
}

.about_honest,
.about_easy {
	background-color: #151515;
}

.header_headline h2.splittext,
.header_headline h2.splittext_single {
	font-size: 2rem;
	padding: 0;
	margin: 0;
	position: relative;
	color: #fff;
	font-weight: 500;
	line-height: 1;
}

.headline svg,
.headline img {
	fill: #c1e0d1;
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 auto 22px;
}

@media (min-width: 768px) {
	.headline svg,
	.headline img {
		width: 4.5vw;
		height: 4.5vw;
		display: inline-block;
		margin: 0 1.2vw 0 0;
	}
}

.header__subtitle {
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.header__icon {
	width: 3rem;
	height: 3rem;
}

.choose_lang {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.icon svg {
	height: 0.375em;
	width: auto;
	margin-left: 0.25rem;
}

.languages.active ~ .lang_link .icon svg {
	transform: rotate(180deg);
}

.languages.active ~ .lang_link .icon svg path {
	fill: #151515;
}

.languages.active ~ .lang_link {
	color: #151515;
}

.languages {
	opacity: 0;
	bottom: 2rem;
	right: 0;
	position: absolute;
	line-height: 1;
	z-index: 3;
	border-radius: 3px;
}

.languages a {
	position: relative;
	display: block;
	line-height: 1;
	color: #fff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	background-color: #46b38a;
}

.languages a:hover {
	color: #fff;
	background: #151515;
}

.lang_link {
	color: #151515;
	text-decoration: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 3;
	transition: color 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.lang_link:hover,
.languages.active ~ .lang_link:hover {
	color: #fff;
	cursor: pointer;
}

.lang_link:hover svg path,
.languages.active ~ .lang_link:hover svg path {
	fill: #fff;
}

.text {
	padding: 0 0 2rem 0;
	position: relative;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

@media (min-width: 768px) {
	.text {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.text--video {
	display: flex;
	justify-content: center;
	padding-bottom: 0;
}

.fx-flexible {
	width: 100%;
	height: auto;
}

.fx-flexible__container {
	display: flex;
	align-items: center;
	width: 75%;
}

.text h3.headline {
	line-height: 1;
	font-size: 1.375em;
	margin-bottom: 0.75em;
	color: #fff;
	letter-spacing: 0.01em;
}

.text:first-child {
	margin-top: 1.5em;
}

@media (min-width: 768px) {
	.text:first-child {
		margin-top: 0;
	}

	.text h3.headline {
		text-align: center;
		margin-top: 1.5em;
	}
}

.text p {
	position: relative;
	font-size: 1em;
	margin-bottom: 0.75em;
}

.fx-envelope_link {
	transition: all 0.6s ease-in-out;
}

.fx-envelope_link:hover {
	transform: scale(1.375);
}

.fx-envelope_link img {
	width: 65px;
	height: auto;
}

.splittext--contact {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.container--contact {
	width: 90vw;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media (min-width: 768px) {
	.header_headline h2.splittext,
	.header_headline h2.splittext_single {
		font-size: 3.75vw;
	}

	.header--contact {
		align-items: flex-start;
	}

	.header_headline h2.splittext--contact {
		font-size: 3vw;
	}

	.text {
		position: relative;
	}

	.text h3.headline {
		font-size: 2vw;
		margin-top: 4.2vw;
		margin-bottom: 1.5vw;
		text-align: left;
	}

	.text p {
		font-size: 1.3vw;
		margin-bottom: 1.5vw;
	}
}

@media (min-width: 992px) {
	.header--contact {
		padding-bottom: 75px;
	}
}

.icon-image {
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	.icon-image {
		display: none;
	}
}

.fx-calculations_mobile,
.fx-door-to-door_mobile,
.fx-flexible_mobile,
.fx-smart-data_mobile {
	display: block;
	margin: 0 auto;
	margin-top: 1.5em;
	margin-bottom: -1.5em;
}

.fx-calculations_mobile {
	width: 105px;
	height: 105px;
}

.fx-door-to-door_mobile {
	width: 100px;
	height: 100px;
}

.fx-flexible_mobile {
	width: 105px;
	height: 105px;
}

.fx-smart-data_mobile {
	width: 105px;
	height: 105px;
}

@media (min-width: 576px) {
	.fx-calculations_mobile {
		width: 150px;
		height: 150px;
	}

	.fx-door-to-door_mobile {
		width: 150px;
		height: 150px;
	}

	.fx-flexible_mobile {
		width: 155px;
		height: 155px;
	}

	.fx-smart-data_mobile {
		width: 155px;
		height: 155px;
	}
}

@media (min-width: 768px) {
	.fx-calculations_mobile,
	.fx-door-to-door_mobile,
	.fx-flexible_mobile,
	.fx-smart-data_mobile {
		display: none;
	}
}

section.about_easy,
section.about_honest {
	padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
	.fx-calculations,
	.fx-door-to-door,
	.fx-flexible,
	.fx-smart-data {
		display: block;
	}

	section.about_easy,
	section.about_honest {
		padding-bottom: 5.75em;
	}
}

section.partners {
	position: relative;
	background-color: #c1e0d1;
	padding-bottom: 2rem;
}

section.partners .header_headline {
	padding-bottom: 1.55em;
}

@media (min-width: 768px) {
	section.partners {
		padding-bottom: 6vw;
	}

	section.partners .header_headline {
		padding-bottom: 1.5vw;
	}
}

section.partners h2.splittext_single {
	color: #151515;
}

section.partners .container_partner {
	margin: 0 auto;
}

@media (min-width: 768px) {
	section.partners .container_partner {
		max-width: 400px;
	}

	.contact-section__column--mobile {
		display: none;
	}

	.contact-section__column--desktop {
		display: block;
	}
}

section.partners .container_partner img {
	width: 100%;
	max-width: 100px;
	height: auto;
	padding: 15px;
}

.partner p {
	color: #151515;
	font-size: 80%;
}

section.contact {
	background: #262626;
	padding: 1.75rem 0 2rem;
}

section.contact p.contact_fade {
	padding-bottom: 1rem;
}

section.contact p.h3vw {
	font-size: 1.7rem;
	line-height: 1.2;
}

@media (min-width: 768px) {
	section.contact {
		padding: 3.5vw 0 3.5vw;
	}

	section.contact p {
		font-size: 1.5vw;
	}

	section.contact h3 {
		text-align: left;
		font-size: 1.625vw;
	}

	section.contact p.h3vw {
		font-size: 3vw;
	}
}

.navigation {
	display: flex;
	align-items: center;
}

.btn_contact {
	opacity: 0;
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: #262626;
	padding: 8px !important;
	line-height: 1;
	font-size: 16px;
	font-family: 'Stolzl';
	font-weight: 500;
	text-decoration: none;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.btn_contact:hover {
	background-color: #46b38a;
}

.contact-section {
	display: flex;
	flex-direction: column;
}

.header--contact {
	text-align: left;
}

.contact-form {
	height: 100%;
	width: 100%;
	padding-right: 32px;
}

.contact-section__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding-left: 32px;
}

.contact-section__column--mobile {
	padding-left: 0;
}

.contact-section__column--desktop {
	padding-left: 0;
	padding-top: 2rem;
}

.contact-section__text--desktop {
	display: none;
}

@media (min-width: 992px) {
	.contact-section__text--desktop {
		display: block;
	}

	.contact-section__column--mobile {
		display: none;
	}
}

.footer {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #151515;
}

.form__button {
	border: none;
	color: #fff;
	background-color: #46b38a;
}

.form__button:hover {
	color: #262626;
	background-color: #fff;
}

.form__button:focus {
	border: 1px solid #46b38a;
	box-shadow: 0 0 0.25rem #46b38a !important;
}

.form-control {
	color: #fff;
	border: none;
	background-color: #151515 !important;
}

.form-control:focus {
	color: #fff;
	border: 1px solid #46b38a;
	box-shadow: 0 0 0.25rem #46b38a;
}

.form-control::placeholder {
	color: #fff;
}

.form-group {
	margin-bottom: 12px;
}

.form-group:last-child {
	margin-bottom: 0;
}

.form-group {
	text-align: left;
}

@media (min-width: 786px) {
	.contact-form {
		width: 50%;
	}

	.contact-section__column {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.contact-section {
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	.btn_contact {
		padding: 12px !important;
		font-size: 18px;
	}
}

.footer {
	text-align: center;
	margin: 0 auto;
}

.footer_link {
	text-transform: uppercase;
	display: inline-block;
	margin: 0px 2px;
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
}

.footer_link:hover {
	cursor: pointer;
	color: #46b38a;
}

@media (min-width: 768px) {
	.footer {
		margin: 4vw auto 0 auto;
	}
}

@media (min-width: 768px) {
	.footer_link {
		font-size: 13px;
		margin: 0 0.225vw;
	}
}

@media (min-width: 992px) {
	.footer_link {
		font-size: 1.2vw;
	}
}

.slideup {
	display: inline-block;
	line-height: 1;
	overflow: hidden;
}

.about_text_pWrap {
	overflow: hidden;
}

section.intro {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

@media (min-width: 768px) {
	section.intro {
		flex-direction: row;
		align-items: center;
	}
}
.introvideo {
	position: relative;
	display: block;
	width: 100%;
	height: 60%;
	-o-object-fit: cover;
	object-fit: cover;
	border-bottom: 10px solid #09907f;
}

@media (min-width: 768px) {
	.introvideo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-bottom: none;
	}
}

.introquote {
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
}

@media (min-width: 768px) {
	.introquote {
		max-width: 60vw;
		padding-top: 6rem;
	}
}

.split-parent {
	overflow: hidden;
}

#viewport {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#scroll-container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	will-change: transform;
}

.modal a {
	color: #fff;
}

.modal .bg-dark {
	background-color: #151515 !important;
}

.modal-header,
.modal-footer {
	border: none;
}

.contact nav a.lang-select .icon {
	margin-left: 0.25em;
	margin-top: 0.25rem;
}

.popover-body {
	padding: 0.35em 0.5em;
	background-color: #151515;
	color: #c1e0d1;
	font-size: 14px;
	margin-bottom: -0.25rem;
}

.popover-body a {
	text-decoration: none;
}

.popover .popover-arrow {
	display: none;
}

@media (min-width: 768px) {
	.popover-body {
		font-size: 1.2vw;
	}
}
@media (min-width: 768px) {
	.gs_reveal {
		opacity: 0;
		visibility: hidden;
		will-change: transform, opacity;
	}
}
