@use '../../styles/config/utils';

.Modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--black);
    max-width: utils.toRem(450);
    height: 100%;
    overscroll-behavior: contain;
    overflow-y: scroll;
    z-index: 150;
}

.Title {
    font-size: var(--font-small);
    margin-bottom: 0;
}

.Content {
    position: relative;
}

.Header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-16) var(--spacing-16);
}

.Body {
    padding: 0 var(--spacing-16) var(--spacing-16) var(--spacing-16);
}

.Button {
    width: var(--spacing-16);
    height: var(--spacing-16);
    padding: var(--spacing-16);
    margin: var(--spacing-8) var(--spacing-16) var(--spacing-8) auto;
}

.Close {
    position: relative;
    display: block;
    height: var(--spacing-2);
    width: var(--spacing-24);

    .Button:hover & {
        opacity: 0.5;
    }

    &::before {
        position: absolute;
        background: var(--white);
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        top: var(--spacing-8);
        left: -var(--spacing-8);
        transform: rotate(-45deg);
        top: 0;
    }

    &::after {
        position: absolute;
        background: var(--white);
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        top: 0;
        left: -var(--spacing-8);
    }
}

.Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--black);
    pointer-events: none;

    &.isOpen {
        pointer-events: all;
    }
}
