@use '../../styles/config/utils' as utils;

.Wrapper {
    max-width: utils.toRem(800);
}

.Title {
    font-size: var(--font-large);
    margin-bottom: var(--spacing-16);
}

.Text {
    font-size: var(--font-xsmall);
    margin-bottom: var(--spacing-24);
}

.SuccessMessage {
    font-size: var(--font-small);
    font-weight: 500;
}
