@use '../../styles/config/utils' as utils;

.InfoSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-84);

    @media (--medium) {
        margin-top: var(--spacing-84);
        flex-direction: row;
    }

    @media (--xlarge) {
        min-height: utils.toRem(600);
    }
}

.Text {
    font-size: var(--font-s);
    margin-bottom: var(--spacing-48);

    @media (--medium) {
        margin-bottom: 0;
        flex-basis: 55%;
    }
}

.ImageContainer {
    flex-basis: 100%;
    display: flex;
    place-content: center;

    @media (--medium) {
        flex-basis: 45%;
    }
}

.Image {
    width: 70%;
    height: auto;
}
